/* 自定义公共字体，颜色样式 */

// color
$color-primary = #409eff
$color-success = #67c23a
$color-warning = #E6a23c
$color-danger = #F56c6c
$color-dark = #333
$color-default = #666
$color-light = #999
$color-border = #ddd
$color-theme = #3189fa
$color-white = #fff

// font-size
$font-size-small-x = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-large = 16px
$font-size-large-x = 18px
$font-size-large-xx = 20px
$font-size-large-xxx = 22px

